<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/header") -%>
  <body>
    <!-- Navigation-->
    <%-include("layouts/navbar")-%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/assets/img/b.jpg')">
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Create New Post</h1>
              <span class="subheading">Vish it... Write it...</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form
            action="/posts/store"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label
                  style="
                    font-family: Roboto, system-ui, -apple-system,
                      BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
                      'Open Sans', 'Helvetica Neue', sans-serif;
                  "
                  >Title</label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Title"
                  id="title"
                  name="title"
                  style="
                    font-family: Roboto, system-ui, -apple-system,
                      BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
                      'Open Sans', 'Helvetica Neue', sans-serif;
                  "
                />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label
                  style="
                    font-family: Roboto, system-ui, -apple-system,
                      BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
                      'Open Sans', 'Helvetica Neue', sans-serif;
                  "
                  >Description</label
                >
                <textarea
                  rows="5"
                  class="form-control"
                  id="body"
                  name="body"
                  style="
                    font-family: Roboto, system-ui, -apple-system,
                      BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
                      'Open Sans', 'Helvetica Neue', sans-serif;
                  "
                ></textarea>
              </div>
            </div>

            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label
                  style="
                    font-family: Roboto, system-ui, -apple-system,
                      BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
                      'Open Sans', 'Helvetica Neue', sans-serif;
                  "
                  >Image</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="image"
                  name="image"
                  style="
                    font-family: Roboto, system-ui, -apple-system,
                      BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
                      'Open Sans', 'Helvetica Neue', sans-serif;
                  "
                />
              </div>
            </div>

            <br />

            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary"
                id="sendMessageButton"
              >
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include("layouts/footer")-%>

    <!-- Scripts -->
    <%- include("layouts/scripts") -%>
  </body>
</html>
